@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Blaka:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Erica+One:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
  background: url(./assets/background.svg) no-repeat;
  background-size: cover;
}

.title {
  font-size: 30px;
  text-align: center;
  padding: 30px 0;
  padding-left: 100px;
  text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
  font-family: "Luckiest Guy";
  color: white;
}
.row {
  display: flex;
  flex-direction: column;
  width: 380px;
}
.form {
  display: flex;
  width: 800px;
  margin: 0 auto;
  font-size: 20px;
  justify-content: space-between;
}
.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px 0;

}
.item input[type=text] {
  border-radius: 20px;
  padding: 10px 15px;
  background-color: #570472;
  border: 1px solid white;
  margin-top: 5px;
  color: white;
}
.item input[type=date] {
  border-radius: 20px;
  padding: 10px 15px;
  background-color: #570472;
  border: 1px solid white;
  margin-top: 5px;
  color: white;
}
.item input[type=number] {
  border-radius: 20px;
  padding: 10px 15px;
  border: 1px solid white;
  background-color: #570472;
  margin-top: 5px;
  color: white;
}
.item select {
  border-radius: 20px;
  padding: 10px 15px;
  border: 1px solid white;
  background-color: #570472;
  margin-top: 5px;
  color: white;
  -webkit-appearance: none;
}

.item button {
  border-radius: 20px;
  padding: 6px 15px;
  border: 1px solid #00E4EF;
  background-color: #570472;
  margin-top: 30px;
  color: white;
  font-size: 20px;
}
.item button:hover {
  background-color: #4a518b;
 
}
.wallet-btn {
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  background-color: #d345d5;
  border-radius: 20px;
  border: none;
  color: white;
  font-family: "Luckiest Guy";
  border: 1px solid white;
}
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 800px;
  margin: 0 auto;
}
.wallet-btn:hover {
  background-color: #e558e7;
  border: 1px solid #00E4EF;
  color: rgb(126, 115, 115);
}
.box-area {
  box-shadow: rgb(255, 255, 255, 0.5) 0px 0px 10px 10px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-image: initial;
  margin: -7px 0px 0px;
  padding: 18px;
  border-radius: 10px;
  background: linear-gradient(rgba(27, 30, 202, 0.6), rgba(223, 17, 223, 0.2));
  display: flex;
  font-family: "Permanent Marker";
  color: white;
  flex-direction: column;
  width: 900px;
  margin: 0 auto;
  margin-top: 200px;
}
.mint-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mint-btn button {
  padding: 8px 50px;
  background-color: #d345d5;
  border-radius: 20px;
  border: 1px solid white;
  font-size: 25px;
  margin: 20px 0;
  font-family: 'Luckiest Guy';
  color: white;
}
.mint-btn button:hover {
  background-color: #e558e7;
  border: 1px solid #00E4EF;
  color: rgb(126, 115, 115);
}