.container {
  display: flex;
  background-color: #21243B;
  color: white;
  flex-direction: column;
  height: 100vh;
}
.title {
  font-size: 30px;
  text-align: center;
  padding: 30px 0;
}
.row {
  display: flex;
  flex-direction: column;
}
.form {
  display: flex;
}